<!DOCTYPE html>
<html>
<head>
    <title>Sports Tracker</title>
    <!-- creates an html tag that connects an external file to my page, tells the browser its a stylesheet, points to the location of the file,
     generates the correct url path to my file, and then tells flask to look for the static folder and style.css file inside of it-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 
    <div class="container"> 
    <h1>Sports Tracker</h1>
    <p class="subtitle"> Search for any athlete and instantly get their team, sport, and position</p>

    <!-- search form that sends player name to Flask via GET request -->
    <form class="search-form" action="/" method="GET">
        <!-- input creates the text box, name="player_name" is how Flask identifies what the user typed, placeholder is the hint text shown before the user types anything -->
        <input type="text" name="player_name" placeholder="Search for a player...">
        <!-- creates a submit button that triggers the form to send the player name to Flask-->
        <button type="submit">Search</button>
    </form>

    <!-- displays the players name, team, sport they play, and position -->
<div class="content-row"> 
    <div class="player-card">
        <h2>{{ player }}</h2>
        <p>{{ team }}</p>
        <p>{{ sport }}</p>
        <p>{{ position }}</p>
        <!-- src tells the browser where to find the image and alt is text that shows if the image fails to load-->
        <img src="{{ cutout }}" alt="Player Photo">
    </div>
    
    <div class="history-section"> 
        <h2>Search History</h2>
        <!-- for loop that loops through every row in history from the database -->
        {% for search in history %}
            <p class="history-item"> {{ search[1] }} - {{ search [2] }} - {{ search [3] }} - {{ search [4]}} </p>
        {% endfor %}
        <!-- ends the for loop -->
    </div>
</div>

<!--creates a frequently asked questions section and classes are made for style options in css-->
<div class="faq-section">
    <h2> Frequently Asked Questions</h2>

    <div class="faq-item">
        <h3>What sports are supported?</h3>
        <p> We support a wide range of sports including Soccer, Basketball, Baseball, and more via TheSportsDB API.</p>
    </div>

    <div class="faq-item">
        <h3>How do I search for a player?</h3>
        <p>Simply type a player's name in the search bar above and hit Search. Results will appear instantly</p>
    </div>

    <div class="faq-item">
        <h3>Why is my player not showing up?</h3>
        <p>The player may not be showing up in TheSportsDB database. Try searching for their full name.</p>
    </div>
</div>

    </div>
</body>
</html>