<!DOCTYPE html>
<html>
<head>
    <title>Sports Tracker</title>
    <!-- creates an html tag that connects an external file to my page, tells the browser its a stylesheet, points to the location of the file,
     generates the correct url path to my file, and then tells flask to look for the static folder and style.css file inside of it-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 
    <div class="container"> 
    <h1>Sports Tracker</h1>

    <!-- search form that sends player name to Flask via GET request -->
    <form class="search-form" action="/" method="GET">
        <!-- input creates the text box, name="player_name" is how Flask identifies what the user typed, placeholder is the hint text shown before the user types anything -->
        <input type="text" name="player_name" placeholder="Search for a player...">
        <!-- creates a submit button that triggers the form to send the player name to Flask-->
        <button type="submit">Search</button>
    </form>

    <!-- displays the players name, team, sport they play, and position -->
<div class="content-row"> 
    <div class="player-card">
        <h2>{{ player }}</h2>
        <p>{{ team }}</p>
        <p>{{ sport }}</p>
        <p>{{ position }}</p>
        <!-- src tells the browser where to find the image and alt is text that shows if the image fails to load-->
        <img src="{{ cutout }}" alt="Player Photo">
    </div>
    
    <div class="history-section"> 
        <h2>Search History</h2>
        <!-- for loop that loops through every row in history from the database -->
        {% for search in history %}
            <p class="history-item"> {{ search[1] }} - {{ search [2] }} - {{ search [3] }} - {{ search [4]}} </p>
        {% endfor %}
        <!-- ends the for loop -->
    </div>
</div>

    </div>
</body>
</html>